/*custom edits*/
/*++++++++++++++++ genereal styling ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html{
	background: white;
}

body{
	background: white;
}
 /*++++++++++++++++++ nav style +++++++++++++++++++++++++++++*/
nav{

}
.top-bar-section{
	margin-right: 164px;
}

.title-area{
	width: 164px;
}


 /*++++++++++++ nva for other pages++++++++++++++++++++++++++*/
header{
	margin-top: 50px;
	margin-bottom: 0px;
}
header div h3{
	margin-right: auto;
	margin-left:  auto;
	vertical-align: middle;	
}

nav section ul li{
	color: white;
	padding: 0;
	vertical-align: middle;
	margin-bottom: 0px;	
}

.top-bar-section .right ul li{
	border-left: 1px solid #ccc;
}

#profile-pic{
	width: 45px;
	height: 45px;
	border-radius: 100px;
}


 /*+++++++++++++++  side nav +++++++++++++++++++++++++*/
.side-nav{
	background: #F1F1F1;
	width: 20%;
	float: left;
	margin-top: -30px;
	height: 700px;
	padding: 0px;	
}

.side-nav ul li{
	list-style: none;
}

#side-nav{
	height: 100%;
}





 /* + Home page ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#entreprenuer-signup-button{
	height: 45px;
	margin-top: -8px;
	
}
/*+++++++++++++++program-slide++++++++++++++++++++++++++++*/
#program-slide {
	width: 55%;
	margin: auto auto 50px auto;
	padding: 0px 10px 0px 10px;
}
#program-slide ul{
	background: white;
	

}
#program-slide ul li {
	margin: 0;
	padding: 0px 0px 0px 15px;
	
}
#program-slide ul li h2,#program-slide ul li h2,
#program-slide ul li h2 p, #program-slide ul li h3 {
	margin-bottom: 0;
	padding-left: 10px;
	text-align: justify;
}

/*+++++++++orbit-phrases+++++++++++++*/
#orbit-phrases{
	
	margin-top: 15px;
}
#orbit-phrases li{
	padding: 10px;
}


.slide-links{/*program slide links for portfolio and read more*/

	margin-left: 120px;
}
#program-slide ul p{
	padding: 15px;
}
#orbit-container{
	padding: 0;
	width: 100%;

}
/*+++++++++++++++program brief+++++++++++++++++++++++*/
#program-brief{
	width: 55%;
	margin: auto;
}
#program-brief .section-container.content{
	padding: 0px;

}

#program-brief .section-container .title a{
	padding-left: 5px;
	padding-right: 5px;
}
#program-brief .section-container{
	padding-left: 0;
	padding-right: 0px;
}
#program-brief section h5{
	padding: 0 15px 0 15px;
	
}

/*++++++++++++++++++++++++++++++featured-mentor+++++++++++++++++++*/
#featured-mentor{
	width: 55%;
	margin: auto;
}

#featured-mentor ul{
	list-style: none;
	display: inline;
}

#featured-mentor ul li{
	display: inline;

}

#featured-mentor img{
	width: 90%;
	height: 90%;
}

#mentor-apply{
	float: right;
	height: 56px;
	width: 156px
}
#mentor-apply:hover{
	background: #ccc;
}

#pic-caption{
	width: 20%;
	display: inline-block;
}
/*+++++++++++++job-seeker-apply++++++++++++++++++++++++++++++++*/
#job-seeker-apply{
	width: 55%;
	margin: auto;
	margin-bottom: 30px;
}

#seeker-apply{
	float: left;
	margin-right: 230px;
}
#seeker-apply-button{

}
/*++++++++++open position+++++++++++++++++++++++++++++++++++++++*/

#open-position{
	width: 55%;
	margin: auto;
}

/*++++++++++newsletter++++++++++++++++++++++++++++++++++++++++++*/
#newsletter{
	width: 55%;
	margin: auto;
}
#newsletter-email{
	width: 40%;
	display: inline-block;
	margin-left: 6px;
}
#newsletter-email input, #newsletter-email span{
	height: 45px;
}
#newsletter-email input{
	width: 270px;
}
#newsletter-email span{
	width: 100px;
	margin-left: 31px;
	padding-top: 7px;
}
#input-div{
	width: 238px;
}
#add-email{
	float: left;
	margin-right: 29px;
}

/* +  message center +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#body-content {
	width: 75%;
	float: right;
	padding-left: 15px;
	margin-top: 20px;

}
#search-box{
	float: right;
	margin-right: 15%;
}

#mentor-inbox{
	border: 1px solid #F1F1F1;
	padding: 10px;
	width: 90%;

}

#mentor-inbox ul li{
	list-style: none;
	display: inline;
	margin-right: 50px
}
#mentor-inbox ul li:last-child{
	float: right;
	margin-right: 0;
}

#main-container{
	width: 80%;
	margin: auto;
}
#right-column{
	width: 30%;
	border: 1px solid #F1F1F1;
	height: 500px;
	float: right;
	padding: 15px;
	margin-right: 50px;

}
#checklist{
	border: 1px solid #EFEFEF;
	background: #EFEFEF;
}
#checklist-header{
	border: 1px solid #DDE1E4;
	background: #DDE1E4;
}
#checklikst-checkbox{
	margin-top: 15px;
	padding: 10px;
}
label{
	padding: 5px;
}



/*+++++++++left container+++++++++++++++*/
#left-container{
	float: left;
	width: 60%;

}

#progress-bar{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border: 1px solid #DDE1E4;
	height: 50px;
}

textarea{
	height: 200px;
}

#msg-history{
	margin-top: 60px;
}
#msg-history ul{
	padding: 0;
}

#msg-history li li{
	list-style: none;
}

#msg-history li{
	list-style: none;
}
#msg-sender{
	padding: 0;
	border-bottom: 1px solid #6E6E6E;
	border-top: 1px solid #6E6E6E;
	margin-bottom: 10px;
	margin-left: 0;
}
#msg-send-buttons{
	margin: auto;
}


 /*+  search page ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.top-bar-section{

	margin-right: 164px;

}
 #search-side-nav{
 	width: 30%;
 	height: 900px;
 	margin-top: 0px;
 	float: left;
 }

 #main-search-container{
 	width: 60%;
 	float: right;
 	margin: auto;
 }

 #search-right-column{
 	width: 60%;
 	height: 450px;
 	margin-left: 25%;
 	
 }
.right{
	margin-right: 164px;
}
 .search-button{
 	float: right;
 	
 }
.title h3 {
	padding: 0px 90px 0px 90px;
	margin:  0px 60px 0px 60px;
}
.title{
	width: 100px;
	padding: 10px;
	margin: 60px;
}
 #search-topic h5{
 	display: inline;
 }

#search-topic{
	float: left;
}
#search-topic ul{
	width: 100%;
	border: 0;
	overflow: hidden;
	margin: 5px;

}

#search-topic ul li{
	list-style: none;
	line-height: 1.5em;
	font-size: 15px;
	width: 25%;
	float: left;

}
#search-topic ul li ul li {
	display: block;
	width: 100%;
}	


#sector ul{
  width:100%;
  margin-bottom:20px;
  overflow:hidden;
  
}
#sector li{
  line-height:1.5em;
  /*border-bottom:1px solid #ccc;*/
  float:left;
  display:inline;
  width: 25%
}

/*+++++search results +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#search-tabs{
	width: 100%;
	margin: auto;
	height: 60px;
	border: 1px solid gray;
}
#search-tabs ul{
	list-style: none;
}

#search-tabs ul li{
	line-height: 1.5em;
	float: left;
	display: inline;
	width: 25%;
	margin: 5px 0 0 25px;
}

#search-tabs a{
	margin-left: 50px;
}

#search-topic{
	width: 100%;

}
#search-topic ul li{
	/*margin: 5px ;*/
}
ul#sector-dropdown{
	width: 660px;
	overflow: hidden;
	padding-left: 70px;
	margin-left: -145px;
}
#sector ul li{
	
}

/*++++++++++++++++++++++resources++++++++++++++++++++++++++++*/
#resources{
	width: 100%;
	border: 1px solid gray;
}

#resource-details{
	background: black;
}

#resource-icon{
	width: 50px;
	height: 50px;
	float: left;
	margin: 10px;
}
#resource-title{
	margin-left: 20%;
}
#resource-fav{
	float: right;
	margin-right: 10px;
}
#resource-actions{
	float: right;
	margin-right: 15px;
}