<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="../scripts/css/search.css" rel="stylesheet" media="screen">
		<link href="../scripts/iCheck/skins/line/purple.css" rel="stylesheet">
		<link href="../scripts/iCheck/skins/line/red.css" rel="stylesheet">
	</head>
	
	
	<body>
		<header>
			<div class="row">
				<div class="pull-left span2">hello</div>
				<div class="pull-left span2">welcome</div>
			</div>
		</header>
		<div id="navigation-bar">
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">Titl e</a>
			    <ul class="nav">
			      <li class="active"><a href="#">Home</a></li>
			      <li><a href="#">Link</a></li>
			      <li><a href="#">Link</a></li>
			    </ul>
			  </div>
			</div>
		</div>
		<div id="container">
			<div class="container-fluid">
			  <div class="row-fluid">
			    <div class="span2 pull-left" id="search-side-bar">
			    	<div class="accordion" id="accordion2">
			    	  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					        Type
					      </a>
					    </div>
					    <div id="collapseOne" class="accordion-body collapse in">
					      <div class="accordion-inner">
					        Resources
					      </div>
					      <div class="accordion-inner">
					        Mentors
					      </div>
					      <div class="accordion-inner">
					        Job applicants
					      </div>
					      <div class="accordion-inner">
					        Freelancers
					      </div>
					    </div>
					  </div>
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					        Filter results
					      </a>
					    </div>
					    <div id="collapseTwo" class="accordion-body collapse in">
					      <div class="accordion-inner">
					        Community approval rating
					      </div>
					      <div class="accordion-inner">
					        My Favourites
					      </div>
					      <div class="accordion-inner">
					        Tagged for me
					      </div>
					      <div class="accordion-inner">
					        Location
					      </div>
					      <div class="accordion-inner">
					        Industry
					      </div>
					    </div>
					  </div>
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
					        Sort by
					      </a>
					    </div>
					    <div id="collapseThree" class="accordion-body collapse in">
					      <div class="accordion-inner">
					        Recently added
					      </div>
					      <div class="accordion-inner">
					        Star rating
					      </div>
					      <div class="accordion-inner">
					        Location
					      </div>
					    </div>
					  </div>
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
					        Saved searches
					      </a>
					    </div>
					    <div id="collapseFour" class="accordion-body collapse in">
					      <div class="accordion-inner">
					        SEO help
					      </div>
					      <div class="accordion-inner">
					        Job search: Marketing
					      </div>
					      <div class="accordion-inner">
							<button class="btn">Add current search</button>
						  </div>
					    </div>
					  </div>
					</div>
			    </div>
			    <div class="span9 pull-left" id="search-main">
			    	<div id="search-fields" class="row-fluid">
			    		<ul class="nav nav-pills">
						  <li id="topic"><a href="#topics" data-toggle="tab">Topic</a></li>
						  <li><a href="#sectors" data-toggle="tab">Sector</a></li>
						  <li class="pull-left"><button id="search-button" class="btn">Search</button></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane row-fluid" id="topics">
								<div class="span9"> 
									<div class="row-fluid">
										<div id="business-development" class="span4">
											<label>BUSINESS DEVELOPMENT</label>
											<ul><span>
											<li><input type="checkbox"><label>Sales</label></li>
											<li><input type="checkbox"><label>Customer service</label></li>
											<li><input type="checkbox"><label>Pitching</label></li>
											<li><input type="checkbox"><label>Fundraising</label></li>
											</span></ul>
										</div>
										<div id="design" class="span4">
											<label>DESIGN</label>
											<ul><span>
											<li><input type="checkbox"><label>Graphic design</label></li>
											<li><input type="checkbox"><label>Product design</label></li>
											<li><input type="checkbox"><label>UX/UI</label></li>
											</span></ul>
										</div>	
										<div id="design" class="span4">
											<label>LEGAL</label>
											<ul><span>
											<li><input type="checkbox"><label>Contracts</label></li>
											<li><input type="checkbox"><label>Incorporation</label></li>
											<li><input type="checkbox"><label>Intellectual property</label></li>
											<li><input type="checkbox"><label>Licensing</label></li>
											</span></ul>
										</div>
									</div>
									<div class="row-fluid">
										<div id="design" class="span4">
											<label>CUSTOMER DEVELOPMENT</label>
											<ul><span>
											<li><input type="checkbox"><label>Analytics</label></li>
											<li><input type="checkbox"><label>Product/market fit</label></li>
											<li><input type="checkbox"><label>Conversion</label></li>
											</span></ul>
										</div>
										<div id="design" class="span4">
											<label>HUMAN RESOURCES</label>
											<ul><span>
											<li><input type="checkbox"><label>Hiring</label></li>
											<li><input type="checkbox"><label>Motivation</label></li>
											<li><input type="checkbox"><label>Coaching and leadership</label></li>
											<li><input type="checkbox"><label>Teamwork</label></li>
											<li><input type="checkbox"><label>Interviewing</label></li>
											</span></ul>
										</div>	
										<div id="design" class="span4">
											<label>TECHNOLOGY</label>
											<ul><span>
											<li><input type="checkbox"><label>Technology stacks</label></li>
											<li><input type="checkbox"><label>Software tools</label></li>
											</span></ul>
										</div>
										<div id="design" class="span4">
											<label>OPERATIONS</label>
											<ul><span>
											<li><input type="checkbox"><label>Procurement</label></li>
											<li><input type="checkbox"><label>Supply chain</label></li>
											</span></ul>
										</div>
									</div>
								</div>
								<div class="span3"> 
									<div class="row">
										<div id="strategy">
											<label>STRATEGY/MARKETING</label>
											<ul><span>
											<li><input type="checkbox"><label>Advertising</label></li>
											<li><input type="checkbox"><label>Competitive analysis</label></li>
											<li><input type="checkbox"><label>Copyrighting</label></li>
											<li><input type="checkbox"><label>Email marketing</label></li>
											<li><input type="checkbox"><label>Advertising</label></li>
											<li><input type="checkbox"><label>Competitive analysis</label></li>
											<li><input type="checkbox"><label>Copyrighting</label></li>
											<li><input type="checkbox"><label>Email marketing</label></li>
											<li><input type="checkbox"><label>Growth and scaling</label></li>
											<li><input type="checkbox"><label>Marketing strategy</label></li>
											<li><input type="checkbox"><label>Pricing</label></li>
											<li><input type="checkbox"><label>Search engine optimization (SEO)</label></li>
											</span></ul>
										</div>	
									</div>
								</div>
	

								
																
							</div>
							<div class="tab-pane" id="sectors">
								<ul ><span>
								<li><input type="checkbox" ><label>Analytics</label></li>
								<li><input type="checkbox" ><label>Advertising</label></li>
								<li><input type="checkbox" ><label>Cloud services</label></li>
								<li><input type="checkbox" ><label>Education</label></li>
								<li><input type="checkbox" ><label>Enterprise software</label></li>
								<li><input type="checkbox" ><label>Events</label></li>
								<li><input type="checkbox" ><label>Fashion</label></li>
								<li><input type="checkbox" ><label>Financial services</label></li>
								<li><input type="checkbox" ><label>Games</label></li>
								<li><input type="checkbox" ><label>Green</label></li>
								<li><input type="checkbox" ><label>Hardware</label></li>
								<li><input type="checkbox" ><label>Healthcare</label></li>
								<li><input type="checkbox" ><label>Local</label></li>
								<li><input type="checkbox" ><label>Media</label></li>
								<li><input type="checkbox" ><label>Mobile</label></li>
								<li><input type="checkbox" ><label>Music</label></li>
								<li><input type="checkbox" ><label>Payments</label></li>
								<li><input type="checkbox" ><label>Photography</label></li>
								<li><input type="checkbox" ><label>Productive tools</label></li>
								<li><input type="checkbox" ><label>Recruting</label></li>
								<li><input type="checkbox" ><label>Retail</label></li>
								<li><input type="checkbox" ><label>Sharing</label></li>
								<li><input type="checkbox" ><label>Small business</label></li>
								<li><input type="checkbox" ><label>Social impact</label></li>
								<li><input type="checkbox" ><label>Sports</label></li>
								<li><input type="checkbox" ><label>Travel</label></li>
								<li><input type="checkbox" ><label>Video</label></li>
								</span></ul>
							</div>
						</div>
			    	</div>			      	
			    </div>
			  </div>
			</div>
		</div>

		
		<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="../scripts/bootstrap/js/bootstrap.min.js"></script>
    	<script src="../scripts/iCheck/jquery.icheck.js"></script>
    	<script src="../scripts/iCheck/iCheck.inputStyle.js"></script>
	</body>
</html>
