/*		div{
		border: 1px solid red;
	}*/

#search-results-tags {
	padding-top: 20px;
	padding-left: 5px;
	margin-bottom: 20px;
}

/*#found-resource-text, #search-results-resources{
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}*/

#found-resource{
	margin-bottom: 5px;
}

#found-resource-text, #resource-captions{
	padding-top: 5px;
	text-align: left;
}

#search-results-all{
	padding-left: 5px;
}
#resource-text{
	padding-top: 10px
}

.resource-icon{
	margin-bottom: 5px;
	margin-left: 5px;
}

#resources {
	margin-bottom: 20px;
}

.favorite-icon {
	margin-top: 8px;
	margin-left: 10px;
}